CONFIG = {
    'mode': 'wsgi',
    'working_dir': '/srv/{{ project_name }}',
      'python': '/usr/bin/python',
    'args': (
        '--bind=127.0.0.1:8000',
        '--workers=3',
        '--timeout=260',
        '--max-requests=500',
        'wsgi',
    ),
}
